---
import Layout from "../layouts/Layout.astro";
import { apiGetRecipes } from "../components/APIFunctions.js";

let recipes = [];

recipes = await apiGetRecipes();
---

<Layout title="Alle oppskrifter" />
<a href="/newRecipe/"> Legg til ny oppskrift</a>
<h1>Alle oppskrifter</h1><a href="/newRecipe/"> Legg til ny oppskrift</a>
<a href="/newRecipe/"> Legg til ny oppskrift</a>
<ul>
	{
		recipes.map((recipe) => (
			<li>
				<a href={"/recipe/" + recipe._id}>{recipe.recipeName}</a>
			</li>
		))
	}
</ul>
<h2>I utvikling</h2>
<p>Vil komme søkefunksjon</p>
